.main-container-wrapper {
	width: 100%;
	width: 100vw;
	background-color: gray;

}

.header-top-wrapper {
	width: 100%;
}

.header-top {
	width: 81.25em; /* 1290px + 5px + 5px*/
	margin: 0 auto;
	padding: 1.07692307692% 0.38461538461%;
}

.responsive-header {
	width: 100%;
}

.call-info {
	width: auto;/*9.16030534351%;*/ /*120px;*/
	float: left;
}

.fa-phone {
	padding: 1px 7px;
}

.call-number {
	padding: 0px 12px;
}

.user-account-info {
	width: auto;
	float: right;
	padding: 4px 6px;
}

.user-nav {
	display: none;
	padding: 2px 4px;
	margin-top: 4px;
}

.user-nav ul {
	list-style-type: none;
	text-align: right;
}

.user-nav ul li a {
	display: block;
	padding: 16px 8px;
}

.header-bottom-wrapper {
	padding: 24px 0px;
}

.header-bottom {
	width: 81.25em; /* 1290px + 5px + 5px*/
	margin: 0 auto;
	padding: 0 0.38461538461%;
}

.menu-icon {
	width: auto;
	float: left;
}

.logo {
	width: 17.5384615385%;
	float: right;
}

.nav-bar {
	display: none;
	width: 100%;
}

.main-nav-bar ul {
	list-style-type: none;
}

.main-nav-bar ul li {

}

.main-nav-bar ul li a {
	display: block;
	padding: 16px 6px;
}

.social-network-links {
	padding: 16px 0px;
}

.social-network-links ul {
	list-style-type: none;
}

.social-network-links ul li {
	width: auto;
	float: left;
	padding: 0px 6px;
}

.social-network-links ul li a {
	display: block;
	width: 52px;
	height: 42px;
	padding: 6px 0px;
}

.currencies {
	width: auto;
	padding: 14px 14px;
	margin: 0 6px;
}

.slider {
	width: 100vw;
	background-color: red;

}