.header-top-wrapper {
	background-color: #f2f2f2;
}

.header-top {
	background: inherit;
}

.phone-number {
	font-size: 52px;
	color: #3a3a3a;
	font-family: 'Lato', sans-serif;
}

.user-icon {
	font-size: 52px;
	background: transparent;
	color: #3a3a3a;
	border: none;
	padding: 4px 12px;
	border-radius: 5px;
}

.user-nav ul li a {
	display: block;
	font-size: 48px;
	color: #3a3a3a;
	font-family: 'Lato', sans-serif;
}

.header-bottom-wrapper {
	background-color: #fff;
}

.menu-icon {
	font-size: 52px;
	border: 2px solid #3a3a3a;
	background: transparent;
	color: #3a3a3a;
	padding: 4px 10px;
	border-radius: 5px;
	margin: 0px 10px;
}

.main-nav-bar ul li a {
	color: #000;
	font-family: 'PlayFair Display', serif;
	font-style: italic;
	font-size: 48px;

}

.social-network-links ul li a {
	font-size: 48px;
	color: #d8bd8e;
	border: 2px solid #d8bd8e;
	border-radius: 50%;
	text-align: center;
}

.currencies {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	border: none;
	font-size: 42px;
}